<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
     th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section> 
	
	<h1> This is new about section</h1>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta accusantium laborum quis hic aspernatur illo 
	molestiae eos eaque sed animi. Blanditiis ratione iusto optio vitae omnis fuga quasi neque explicabo incidunt aliquam 
	quisquam quae porro sed voluptatum tempora illum distinctio voluptas necessitatibus ut ipsam possimus nulla ipsum ad 
	recusandae illo.
	</section> 
</body>
</html>