<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Conditional Statement</title>
</head>
<body>
	<h1>Working....</h1>
	<h1> User is <span th:style="${isActive} ? 'color: green' : 'color: red'" th:text="${isActive} ? 'Active' : 'Not Active'"></span></h1>
	<h1 th:if="${gender} == 'M' "> Male </h1>
	<h1 th:unless="${gender} == 'M' "> Female </h1>
	
	<div th:switch="${#lists.size(mylist)}">
	
	<h1 th:case="'0'"> List contain Zero Element </h1>
	<h1 th:case="'1'"> List contain One Element </h1>
	<h1 th:case="*"> List contain Many Element </h1>
	</div>
	
</body>
</html>